<section class="categories-table" *ngIf="!!tableDataSource.data.length; else noCategories">
  <mat-form-field class="categories-table__filter">
    <mat-label>
      <mat-icon class="search-icon">search</mat-icon>
      Filter
    </mat-label>
    <input matInput type="search" (keyup)="applyFilter($event)" #tableFilter />
    <button
      *ngIf="tableFilter.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      matTooltip="Clear"
      (click)="tableFilter.value = ''; clearFilter($event)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="categories-table__table-wrapper mat-elevation-z8">
    <table mat-table [dataSource]="tableDataSource" matSort class="categories-table__table">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let category; let id = index">
          {{ id + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let category">
          {{ category.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="positions">
        <th mat-header-cell *matHeaderCellDef>Positions</th>
        <td mat-cell *matCellDef="let category">{{ category.positions }}x</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let category">
          <button
            class="categories-table__operation-button"
            mat-flat-button
            color="primary"
            [routerLink]="['/categories/positions', category._id]"
            matTooltip="Open positions"
            [disabled]="isDeletingCategory(category._id)"
          >
            <mat-icon class="operation-icon">liquor</mat-icon>
          </button>
          <button
            class="categories-table__operation-button"
            mat-flat-button
            color="primary"
            (click)="openForm(category)"
            matTooltip="Edit category"
            [disabled]="isDeletingCategory(category._id)"
          >
            <mat-icon class="operation-icon">edit</mat-icon>
          </button>
          <button
            class="categories-table__operation-button"
            mat-flat-button
            color="primary"
            (click)="confirmDelete(category)"
            matTooltip="Delete category"
            [disabled]="isDeletingCategory(category._id)"
          >
            <mat-icon class="operation-icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{ tableFilter.value }}"</td>
      </tr>
    </table>

    <mat-paginator
      [class.hide]="!tableDataSource.data.length"
      [pageSizeOptions]="[5, 10, 20, 25, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</section>

<ng-template #noCategories>
  <app-no-data text="There are no categories"></app-no-data>
</ng-template>
