.history {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.563rem;
    display: flex;
    align-items: center;

    & .title-icon {
      font-size: 1.563rem;
      width: 2.5rem;
    }
  }

  &__action-btn {
    font-size: 0.938rem;
    padding: 0 25px 0 20px;

    & mat-icon {
      width: 2rem;
    }
  }
}

.collapse {
  min-height: 0px;
  height: 0px;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.show {
    overflow: visible;
    height: 105.5px;
  }
}

@media screen and (max-width: 1150px) {
  .collapse {
    &.show {
      height: 263px;
    }
  }
}
