.analytics-info-title {
  text-align: center;
  font-weight: 500;
}

.analytics-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.analytics-info-icon {
  min-width: 48px;
  min-height: 48px;
  font-size: 3rem;
  color: #3f51b5;
}

.analytics-info-message {
  margin: 20px auto;
  font-weight: 500;
  overflow: hidden;
  word-break: break-word;
  width: 600px;
}

.analytics-info-actions {
  & button {
    width: 100%;
  }
}
