<h1 mat-dialog-title class="analytics-info-title">Why is this page needed?</h1>
<mat-dialog-content class="analytics-info-content">
  <mat-icon class="analytics-info-icon">info</mat-icon>
  <p class="analytics-info-message">
    The analytics page shows graphs showing the dynamics of revenue and sales of orders. <br />
    Here you can also see the average amount of the order check. It will help you understand <br />
    how profitable is your business using informative graphs.
  </p>
</mat-dialog-content>
<mat-dialog-actions class="analytics-info-actions">
  <button mat-flat-button type="reset" (click)="close()">Close</button>
</mat-dialog-actions>
